

.conteudo{width: 100%; float: left;}
.cliente { width: 45%; border: 5px solid #fff; float:left; margin-top: 2%; margin-left:1.5%; height: auto;}
.cliente h1{color:#39ac39;}
.cliente div{ width:100%; text-align: center;}
.cliente img{text-align:center;}
.cliente img{text-align:center; width:100%;}

@media screen and (min-width: 640px){
	.baner {width: 100%;}
	#title li {float:left;	width: 25%;}
	#title li:hover{width: 25%;}
	.cliente{width: 22%; float:left;}
	.cliente img{text-align:center; width:100%;}
}


	

	
	

	
