
.destaque{float:left; width:100%; text-align: center; font-size: 1.5em;}
.destaque h1 {color:#fff; font-weight: bold; background-color:#000000; padding:2% 2%;}
.destaque2 h1{border-radius: 10px; border: 2px solid #BAB9AB;color:#fff; font-weight: bold; background-color:#000000; padding:2%;}


.confira{margin-left: 15%; padding: 1% 4% 4% 4%; width: 70%; margin-top: 4%; border: 2px solid #BAB9AB;
         border-radius: 10px; font-weight: bold; background: linear-gradient(to top,  #33ff33, #008000); color:#fff; font-size:1.5em;}
.confira:hover{background:#ccffcc; color: #000000; cursor:pointer;}

@media screen and (min-width: 480px){
	.servicos {width:98%; margin-top:2%; margin-left:1%; float:left;}
	.serv{width:98%; margin-top: 4%; margin-bottom:0; margin-left:0%; margin-right: 1%;}	
	
}

@media screen and (min-width: 640px){
	.destaque{display:block;}
	.destaque{width:100%; float: left; margin-left:0; margin-right:0; }
	.destaque h1{border-radius: 10px; border: 2px solid #BAB9AB;}
	.servicos {width:48%; margin-top:2%; margin-left:1%; float:left;}
	.serv{width:48%; margin-top: 1%; margin-bottom:0; margin-left:0%; margin-right: 1%;}	
	/*.serv:nth-child(1){margin-top: 10%;}
	.serv:nth-child(2){margin-top: 1%;}
}*/
}
@media screen and (min-width: 960px){		
		.servicos {width:70%; margin-top:2%; margin-left:15%; float:left;margin-right:15%}
		.serv{width:58%; margin-top: 1%; margin-bottom:0; margin-left:1%; margin-right: 1%;}	
		.confira{margin-left:25%; padding:1%; width: 50%; margin-top: 2%; border: 2px solid #BAB9AB;}
		.destaque h1{font-size: 1em;}
		.destaque2{display: block; width:99%; float:left; text-align:center;}
		.destaque2{margin-top: 1%;margin-bottom:1%;margin-left:0.5%;margin-right: 0.5%;}
		.destaque2 h1{border-radius: 10px; border: 2px solid #BAB9AB;color:#fff; font-weight: bold; background-color:#000000; padding:2%;}
}

@media screen and (min-width: 1280px){
	.destaque2 h1{font-size: 1.5em; margin-top:0.8%;}	
	.conteudo {width: 100%; float: left; }	
	.servicos {width:48%; margin-top:4%;  float:left; margin-left:1%; margin-right:0; padding: 0;}
	.serv{width:58%; margin-top: 0%; margin-left:6%; }
	
} 