/*------reset-----*/
*{
	margin: 0; padding: 0; font-size: 100%; 
	border: none; outline: nome; font-weight: 300;
	box-sising: border-box;
    font-family: 'Barlow';font-size: 22px;
}
body {background-color: #ccffcc;}
a {text-decoration:none;}
ul {list-style:none;}
img {max-width: 100%;}

.logo480{
	display:block;
	float: left;
	width: 30%;	
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 3%;
}

.logo{display:none;}
.menucimg{display:none;}
.cadatre_topo{width: 46%; float: left; text-align: center; }
.cadatre_topo p{width: 80%;font-size: 0.8em; color: #000; color: #003300; padding: 2.5%; border-radius: 7px;  
	margin-bottom:1.5%; margin-left: 7%; color: #003300; border: 1px solid #fff;}
.cadatre_topo p:hover{ text-decoration: underline; color: #39ac39; background:#ccffcc;}
/*cidade*/
.cidade{float:left; text-align: center; margin-top: 0;  background: linear-gradient(to top,   rgba(204, 255, 255,0.9), #fff); width: 100%; padding:1% 0;
 color: #003300; }
 .cidade p{font-size:2em; font-weight: bold;}
 
 /*-------------------------------------------------------------------------------*/
 .logo{
	float: left;
	width: 30%;
	margin-top: 1%;
	margin-left: 4%;
}

.btnclose{
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0;
}
/*menu*/
.menu ul{
	width: 100%;
	float: left;
	text-align: center;
}
.menu li{
	padding: 2%;
}
.menu li a {
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;
}


/*-------------------------------------*/
 
.btn-menu{
	width: 46px;
	height: 46px;
	float: right;
	text-align: center;
	color: #fff;
	border-radius: 46px;
	cursor: pointer;
	background: linear-gradient(to right,  #33ff33, #008000);

}
.menu{		
	position: absolute;	
	background-color: #000000;
	top: 0;
	left: 0;
	display: none;	
	width: 100%;
	
	background-color: rgba(0, 0, 0, 0.9)
}

.btnclose{
	font-size: 3em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin-right: 5%;
	margin-top: -3%;
}
/*menu*/
.menu ul{	
	text-align: center;		
}

.menu li a {
	font-size: 1.5em;
	color: #fff;
	padding: 1.5% 0;	
	border-radius: 10px;	
}
.menu li a:hover {
	
	text-decoration: underline;
	
	
}
/*menu lateral*/
.baner{
	width: 100%;
	float: left;
	text-align: center;	
	border-radius:8px;
	margin-top:0.8%;
	background-color: #39ac39;
	
}
#title ul {
	width: 100%;
	height: auto;
	background-color: yellow (0,0,0,0.9);
	display: block;
	margin: 0;
	padding:0;
	
}
#title li {
	list-style: nome;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #fff;	
	font-family: arial;
	font-size: 2em;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
	
}

#title li:hover{
	background: linear-gradient(to top,  #33ff33, #008000);
	cursor:pointer;
	width: 85%;
	color: #fffafa;	
}
#title li{
	-webkit-transition:all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition:all 0.4s ease;
}

/*-------rodape------------*/
.rodape{width: 100%; float: left; background-color: #000000;}
.separadores{ width: 100%; float: left; text-align: center;}
.cidade{float:left; text-align: center; margin-top: 0;  background: linear-gradient(to top,   rgba(204, 255, 255,0.9), #fff); width: 100%; padding:1% 0;
 color: #003300; }
 .cidade p{font-size:2em; font-weight: bold;}
.mapa{width: 100%; float:left;  }
.mapa a p{font-size: 1em; color:#fff; font-weight: bold; width: 100%;}
.mapa a{width: 100%; font-size:0.5em; color:#fff; padding:2%; }
.informacoes {width: 100%; float:left; }
.informacoes a p{font-size: 1em; color:#fff; font-weight: bold; width: 100%;}
.informacoes a{width: 100%; font-size:0.5em; color:#fff; padding:2%;}
.copyright{width: 100%; float:left;  margin-bottom: 2%; margin-top:2%;}
.copyright p{width: 100%; color:#fff; float: left; font-size:0.5em;}


@media screen and (min-width: 480px){
	.logo480{display:none;}
	.logo{float: left; width: 40%;	margin-bottom: 0%; margin-left: 4%; display:block; }
	.cadatre_topo{width: 36%;  }
	.cadatre_topo p{width: 100%; float: left;}
	
}


@media screen and (min-width: 640px){
	
	.menu li {padding: 0; float: left;}
	.menu li a{color: #130400; font-size: 0.9em; padding: 15px;}
	.menu li a:hover{border: none; color: #39ac39; text-decoration: underline;} 	
	.baner {width:50%; float: center; }
	.mapa a p{font-size: 1.5em; }
	.mapa a{font-size:1em; }
	.informacoes a p{font-size: 1.5em; }
	.informacoes a{font-size:1em;}
	#nav li {width:16%; font-size:0.8em; margin-left:0.3%;}
	.btn-menu{display: none;}
	
	.btnclose{display: none;}
	.menu{width:100%; height: 56px; line-height: 56px; float: left; background-color: #f5f5f5;
	display:block /*força a puxar o menu*/!important; position: static;}
	.cadatre_topo{width: 56%; float: right; }
	.cadatre_topo p{width: 30%; float: left; }
	
}
@media screen and (min-width: 960px){
	
	.baner {width:40%; float: left; }
	#nav li {font-size:1em; }
	#nav ul {margin-left:0.5%;}
	.topo{ width: 40%}
}
@media screen and (min-width: 1280px){
	.baner {width:30%; float: left; }	
	.mapa{width: 50%;}
	.informacoes {width:50%;}
	.copyright {font-size:1.5em;}
}